<% layout("layouts/boilerplate") %>
<body>
    <div class="edit-listing-container">
        <h2 class="edit-title">You are about to make changes for <%= flisting.title %></h2>
        <form class="edit-form needs-validation" method="post" action="/listings/<%= flisting._id %>?_method=PUT" novalidate  >
            <div class="form-group">
                <label for="image">Image URL</label>
                <input id="image" name="image" type="text" value="<%= flisting.image.url %>" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" name="title" type="text" value="<%= flisting.title %>" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                  </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" required><%= flisting.description %></textarea>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input id="price" name="price" type="text" value="<%= flisting.price %>" class="form-control" required>
            </div>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
    
</body>
<!-- The edit.ejs file is a view file that will be rendered when a user wants to edit a listing. It will display a form with the current values of the listing that the user wants to edit. The form will have fields for the image URL, title, description, and price of the listing. The form will also have a submit button that the user can click to submit the changes. The form will be submitted as a POST request to the /listings/:id route with the _method=PUT query parameter. -->
